.btn {
  @include transition;
  display: inline-block;
  text-align: center;
  text-decoration: none;

  border: 1px solid transparent;



  &:not(:disabled):hover {
    cursor: pointer;
  }
  &:active {
    outline: none;
  }
  &:disabled {
    cursor: default;
  }
  &_center {
    margin: 0 auto;
  }
}

.btn-group {
  display: flex;

  a {
    letter-spacing: -1px;
  }
}

.btn_lg {
  @include font(16px, 400, 14px);

  padding: 20px;
  width: 100%;
  border-radius: 2px;
}


.btn_md {
  @include font(16px, 400, 16px);

  letter-spacing: 0;
  word-spacing: 0;

  padding: 16px 40px;
}

.btn_sm {
  @include font(14px, 400, 14px);

  border-radius: 20px;
  padding: 10px 20px;
}

@each $color-name, $color-background, $color, $color-hover, $color-active, $color-disabled in
      (primary, $color-secondary, $white, $color-secondary--light, $color-main, $gray),
      (nofill, $white, $color-secondary, $color-secondary, $white) {

  //кнопка с рамкой и прозрачным фоном
  .btn-#{$color-name} {
    background-color: transparent;

    &:not(:disabled),
    &:not(:disabled):link,
    &:not(:disabled):visited {
      color: $color;
      @if $color-name == nofill {
        border-color: $color,;
      } @else {
        border-color: $color,;
      }
    }
    &:not(:disabled):hover,
    &:not(:disabled):active {
      color: $color-background;
      @if $color-name == nofill {
        border-color: $color;
        background-color: $color-hover;
        color: $color-background;
      } @else {
        border-color: $color-hover;
        background-color: $color-hover;
        color: $color;
      }
    }
    &:disabled {
      color: $color-disabled;
      border-color: $color-disabled;
    }
  }

   //кнопка полностью одного цвета
  .btn-#{$color-name} {
    background-color:  $color-background;
    border: 1px solid  $color-background;
    color: $color;

    &:not(:disabled),
    &:not(:disabled):link,
    &:not(:disabled):visited {
      //color: $color;
    }
    //&:not(:disabled):hover,
    //&:not(:disabled):active {
    //  border-color: $color-hover;
    //  background-color: $color-hover;
    //  color: $color;
    //}
    &:disabled {
      color: $color-disabled;
      border-color: $color-disabled;
    }
  }
}

.label {
  &:after {
    @include font(14px, 500, 40px);
    position: absolute;
    top: 20px;
    left: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-transform: uppercase;
    //color: $color-secondary;
    border: none;
    text-align: center;
    display: inline-block;
  }
}

.label-new {
  &:after {
    content: 'new';
    background-color: $color-main;
  }
}