footer.footer
    .container
        .container-inner
            .row.row-flex
                .footer__column
                    h2
                        strong Geotrack
                    span © Geotrack Inc.All rigth reserved 2016
                .footer__column
                    .footer__list.links
                        ul.links__items
                            li.links__item
                                a(href="#") App API
                            li.links__item
                                a(href="#") Support
                    .footer__list.socials
                        ul.socials__items
                            li.socials__item
                                a(href="#")
                                    +icon("facebook", "blue_mod")
                            li.socials__item
                                a(href="#")
                                    +icon("twitter", "blue_mod")
                            li.socials__item
                                a(href="#")
                                    +icon("instagram", "blue_mod")
                            li.socials__item
                                a(href="#")
                                    +icon("vimeo", "blue_mod")
