.col-md-3.item.product__item
  .item-image.product__image
    img.d-block.w-100(src='img/banner-bg.jpg', alt='First slide')
  .product__descr
    a(href='#').product__title Идеальная акция
    p.lead.product__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      | et dolore
    a(href='#').product__link Подробнее
      +icon('arrow', 'white_mod')