table.table
  thead.text-primary
    tr
      th Qty
      th Bid
      th Offer
      th Qty
    tr
      td
        span 10M
      td
        span 100-025
      td
        span 100-025
      td
        span 20M
    tr
      td
        span 538M
      td
        span 100-022
      td
        span 100-022
      td
        span 22M
    tr
      td
        span 592M
      td
        span 100-021
      td
        span 100-021
      td
        span 22M
