.icon {
  display: inline-block;
  width: 1px;
  height: 1px;
  fill: currentColor;
}

.icon-facebook {
  font-size:(90/10)*1px;
  width:(90/90)*1px;
}
.icon-instagram {
  font-size:(97.395/10)*1px;
  width:(97.395/97.395)*1px;
}
.icon-menu {
  font-size:(30/10)*1px;
  width:(30/30)*1px;
}
.icon-search {
  font-size:(30/10)*1px;
  width:(30/30)*1px;
}
.icon-twitter {
  font-size:(512/10)*1px;
  width:(512/512)*1px;
}
.icon-vimeo {
  font-size:(300/10)*1px;
  width:(300/300)*1px;
}
