-
    var nav = [
        {name: 'Instruments', href: '#'},
        {name: 'Widgets', href: '#'},
        {name: 'View', href: '#'},
        {name: 'Administration', href: '#'}
    ]
-
    var place = [
    {name: 'Geo Type:', description: 'Government'},
    {name: 'Short Geo:', description: 'CA_University'},
    {name: 'Adress:', description: 'United States, California LA, Sarigza Avenue 234, 44A'}
    ]

-
    var placeNext = [
    {name: 'Expiere:', description: '31 Oct 2016'},
    {name: 'Privacy:', description: 'Enable'}
    ]