html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: transparent;
  height: 100vh;
}

body {
  font-family: $font;
  font-size: 1.4rem;
  line-height: 1;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  //background-color: #961b9e;
  background-color: gray;

  align-items: stretch;
  margin: 0;
  padding: 0;
}

@media (min-width: $md) {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  //content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  border-style: none;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;

  border: 0;
  border-top: 1px solid #eee;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

button,
input,
select,
textarea {
  margin: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  overflow: visible;
  cursor: pointer;
  outline: none;
}